h1 {
    margin-top: 40px;
}

img {
    width: 200px;
    height: 200px;
}

.item {
    margin-top: 10px;
    --border-radius: 15px;
}

ion-card {
    height: 266px;
    ;
}

#btnNovaConta {
    margin-top: 18px;
}