<!DOCTYPE html>
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Cadastro Genitor Pagador</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content text-center padding>

    <h4 text-center>
        Só mais algumas informações!
    </h4>

    <p>
        Continue o seu cadastro:
    </p>
    <form>
        <ion-card>
            <ion-item>
                <ion-label position="floating">Data de nascimento</ion-label>
                <ion-datetime display-format="DD/MM/YYYY" min="1950" max="2020"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Naturalidade</ion-label>
                <ion-select>
                    <ion-select-option>Acre</ion-select-option>
                    <ion-select-option>Alagoas</ion-select-option>
                    <ion-select-option>Amapá</ion-select-option>
                    <ion-select-option>Amazonas</ion-select-option>
                    <ion-select-option>Bahia</ion-select-option>
                    <ion-select-option>Ceará</ion-select-option>
                    <ion-select-option>Distrito Federal</ion-select-option>
                    <ion-select-option>Espírito Santo</ion-select-option>
                    <ion-select-option>Goiás</ion-select-option>
                    <ion-select-option>Maranhão</ion-select-option>
                    <ion-select-option>Mato Grosso</ion-select-option>
                    <ion-select-option>Mato Grosso do Sul</ion-select-option>
                    <ion-select-option>Minas Gerais</ion-select-option>
                    <ion-select-option>Pará</ion-select-option>
                    <ion-select-option>Paraíba</ion-select-option>
                    <ion-select-option>Paraná</ion-select-option>
                    <ion-select-option>Pernambuco</ion-select-option>
                    <ion-select-option>Piauí</ion-select-option>
                    <ion-select-option>Rio de Janeiro</ion-select-option>
                    <ion-select-option>Rio Grande do Norte</ion-select-option>
                    <ion-select-option>Rio Grande do Sul</ion-select-option>
                    <ion-select-option>Rondônia</ion-select-option>
                    <ion-select-option>Roraima</ion-select-option>
                    <ion-select-option>Santa Catarina</ion-select-option>
                    <ion-select-option>São Paulo</ion-select-option>
                    <ion-select-option>Sergipe</ion-select-option>
                    <ion-select-option>Tocantins</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Nacionalidade</ion-label>
                <ion-input></ion-input>
            </ion-item>
        </ion-card>

        <ion-button (click)="proximo()">
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
            Próximo
        </ion-button>
    </form>
</ion-content>