<!DOCTYPE html>
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>

        <ion-title>Menu Cadastro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="img">
        <h1 text-center>
            <img src="assets/img/logoGuardians.jpg">
        </h1>
    </div>

    <h4 text-center>
        Bem-vindo(a)!
    </h4>
    <ion-card>
        <p>Para usar o Guardians, o primeiro passo <br>é escolher entre Guardião ou Genitor Pagador.<br> Em seguida, adicione seu(s) filho(s).
        </p>
    </ion-card>

    <ion-button padding expand="block" (click)="irPara('cadastrar-guardiao')">Guardião</ion-button>
    <ion-button padding expand="block" (click)="irPara('cadastrar-pagador')">G.Pagador</ion-button>
    <ion-button padding expand="block" (click)="irPara('cadastro-crianca')">Adicionar Filho</ion-button>
    <br>
    <p>Não sabe qual opção escolher?</p>
    <ion-button fill="clear" expand="block" (click)="alert()">Clique Aqui!</ion-button>

</ion-content>