<!Doctype html>
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Agenda
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-toolbar color="primary">
        <ion-title>
            {{ viewTitle }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="today()">Hoje</ion-button>
        </ion-buttons>
    </ion-toolbar>

    <!-- Card for adding a new event -->
    <ion-card>
        <ion-card-header tappable (click)="collapseCard = !collapseCard">
            <ion-card-title>Novo Evento</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="!collapseCard">

            <ion-item>
                <ion-input type="text" placeholder="Nome do evento" [(ngModel)]="event.title" [(ngModel)]="agenda.nomeDoEvento"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Descrição" [(ngModel)]="event.desc" [(ngModel)]="agenda.descricao"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Início</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD MM:HH:mm" cancelText="Cancelar" doneText="Ok" [(ngModel)]="event.startTime" [min]="minDate" [(ngModel)]="agenda.inicioEvento"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Fim</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD MM:HH:mm" cancelText="Cancelar" doneText="Ok" [(ngModel)]="event.endTime" [min]="minDate" [(ngModel)]="agenda.fimEvento"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Todos os Dias?</ion-label>
                <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
            </ion-item>
            <ion-button fill="outline" expand="block" (click)="addEvent()" (click)="saveAgenda()" [disabled]="event.title == ''">Adicionar Evento</ion-button>

        </ion-card-content>
    </ion-card>

    <ion-row>
        <!-- Change the displayed calendar mode -->
        <ion-col size="4">
            <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'primary'" (click)="changeMode('month')">Mês</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'primary'" (click)="changeMode('week')">Semana</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'primary'" (click)="changeMode('day')">Dia</ion-button>
        </ion-col>

        <!-- Move back one screen of the slides -->
        <ion-col size="6" text-left>
            <ion-button fill="clear" (click)="back()">
                <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>

        <!-- Move forward one screen of the slides -->
        <ion-col size="6" text-right>
            <ion-button fill="clear" (click)="next()">
                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>

    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" startHour="6"
        endHour="20" step="30" startingDayWeek="1">
    </calendar>

</ion-content>