<!DOCTYPE html>
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Cadastro Guardião</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content text-center padding>

    <h4 text-center>
        Já estamos terminando!
    </h4>

    <p>
        Só mais uma etapa, e concluímos:
    </p>

    <ion-card>
        <ion-item>
            <ion-label position="floating">Sexo</ion-label>
            <ion-select>
                <ion-select-option value="F">Feminino</ion-select-option>
                <ion-select-option value="M">Masculino</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Nome da Mãe</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Nome do Pai</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </ion-card>

    <ion-button (click)="proximo()">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
        Próximo
    </ion-button>
</ion-content>