<!DOCTYPE html>
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Cadastro Guardião</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content text-center padding>

    <h4 text-center>
        Vamos iniciar seu cadastro!
    </h4>

    <p>
        Insira algumas informações para continuarmos:
    </p>

    <ion-card>
        <ion-item>
            <ion-label position="floating">Nome completo</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">RG</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">CPF</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </ion-card>

    <ion-button (click)="proximo()">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
        Próximo
    </ion-button>
</ion-content>