<!DOCTYPE html>
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Cadastrar Urgências</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- Adicionar mais tipos de Urgências para ser selecionado -->
    <ion-item>
        <ion-label position="floating"> Selecione Um tipo de urgência </ion-label>
        <ion-select cancelText="Cancelar" [(ngModel)]="values.indexType">
            <ion-select-option [value]="type.value" *ngFor="let type of typeUrgency"> {{ type.name }} </ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Telefone Residencial</ion-label>
        <ion-input clearInput type="number" placeholder="Ex:00 00000000" [(ngModel)]="values.telR"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Telefone Celular</ion-label>
        <ion-input clearInput type="number" placeholder="Ex:00 00000000" [(ngModel)]="values.telC"></ion-input>
    </ion-item><br>

    <ion-button expand="block" (click)="addUrgency()">Adicionar o contato</ion-button>

    <!-- Botões  
    <ion-tabs>

        <ion-tab-bar slot="bottom">

            Botões home 
            <ion-tab-button (click)="proximo('home')">
                <ion-icon name="ios-home" color="primary"></ion-icon>
                <ion-label color="primary">Home</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="proximo('contatos-urgencia')">
                <ion-icon name="ios-contacts" color="primary"></ion-icon>
                <ion-label color="primary">Contatos</ion-label>
            </ion-tab-button>

        </ion-tab-bar>

    </ion-tabs> -->

</ion-content>