<!DOCTYPE html>
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Agenda</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- Botões  -->
    <ion-tabs>
        <ion-tab-bar slot="bottom">

            <!-- Botão do Menu-->
            <ion-menu-button color="primary"></ion-menu-button>

            <!-- Botões home, financeiro e agenda -->
            <ion-tab-button (click)="proximo('home')">
                <ion-icon name="ios-home" color="primary"></ion-icon>
                <ion-label color="primary">Home</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="proximo('financeiro')">
                <ion-icon name="ios-calculator" color="primary" (click)="proximo('financeiro')"></ion-icon>
                <ion-label color="primary">Financeiro</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="proximo('agenda')">
                <ion-icon name="ios-list-box" color="primary"></ion-icon>
                <ion-label color="primary">Agenda</ion-label>
            </ion-tab-button>


        </ion-tab-bar>
    </ion-tabs>

</ion-content>