<!DOCTYPE html>
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Configurações</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button href="/cadastro-crianca"  expand="block" >Cadastro Criança</ion-button>
    <ion-button href="/cadastrar-guardiao"  expand="block" >Cadastro Guardiao</ion-button>
    <ion-button href="/cadastrar-pagador"  expand="block">Cadastro Pagador</ion-button>
</ion-content>