<!DOCTYPE html>
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Configurações</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-button padding expand="block" (click)="irPara('cadastrar-guardiao')">Cadastro Guardiao</ion-button>
    <ion-button padding expand="block" (click)="irPara('cadastrar-pagador')">Cadastro Pagador</ion-button>
    <ion-button padding expand="block" (click)="irPara('cadastro-crianca')">Cadastro Criança</ion-button>

</ion-content>