<!DOCTYPE html>
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Guardians
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card *ngFor="let card of cardsValues">
        <ion-card-header>
          <ion-card-subtitle>{{card.title}}</ion-card-subtitle>
          <ion-card-title>{{card.subtitle}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{card.description}}</ion-card-content>
    </ion-card>


    <!-- Botões  -->
    <ion-tabs>
        <ion-tab-bar slot="bottom">

            <!-- Botão do Menu-->
            <ion-menu-button color="primary"></ion-menu-button>

            <!-- Botões home, financeiro e agenda -->
            <ion-tab-button (click)="proximo('home')">
                <ion-icon name="ios-home" color="primary"></ion-icon>
                <ion-label color="primary">Home</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="proximo('financeiro')">
                <ion-icon name="ios-calculator" color="primary"></ion-icon>
                <ion-label color="primary">Financeiro</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="proximo('calendario')">
                <ion-icon name="ios-list-box" color="primary"></ion-icon>
                <ion-label color="primary">Agenda</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
    
</ion-content>