<!DOCTYPE html>
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Cadastro Genitor Pagador</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content text-center padding>

    <h4 text-center>
        Finalize seu Cadastro!
    </h4>

    <p>
        Informações sobre a criança:
    </p>

    <ion-card>
        <ion-item>
            <ion-label position="floating">Nome Completo da Criança</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Nome da Mãe</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Nome do Pai</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Sexo</ion-label>
            <ion-select>
                <ion-select-option>Feminino</ion-select-option>
                <ion-select-option>Masculino</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Escolaridade</ion-label>
            <ion-select>
                <ion-select-option>E. fundamental incompleto</ion-select-option>
                <ion-select-option>E. fundamental completo</ion-select-option>
                <ion-select-option>E. médio incompleto</ion-select-option>
                <ion-select-option>E. médio completo</ion-select-option>
                <ion-select-option>Ainda não estuda</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Nome da Escola</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Endereço</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Horário</ion-label>
            <ion-input placeholder="Entrada / Saída"></ion-input>
        </ion-item>
    </ion-card>



    <ion-button (click)="proximo()">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
        Próximo
    </ion-button>
</ion-content>