<!DOCTYPE html>
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Contatos Urgências</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="main">

        <ion-card *ngFor="let contact of values">
              <ion-card-title> <ion-icon name="contact"></ion-icon> {{contact.indexType}} </ion-card-title>
              <ion-card-subtitle>Telefone Residencial: {{contact.telefoneRecidencial}} </ion-card-subtitle>
              <ion-card-subtitle>Telefone Celular: {{contact.telCelular}}</ion-card-subtitle>
        </ion-card>

    <!-- Botões  -->
    <ion-tabs>

        <ion-tab-bar slot="bottom">

            <!-- Botões home -->
            <ion-tab-button (click)="proximo('home')">
                <ion-icon name="ios-home" color="primary"></ion-icon>
                <ion-label color="primary">Home</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="proximo('cadastro-urgencia')">
                <ion-icon name="ios-add-circle" color="primary"></ion-icon>
                <ion-label color="primary">Add Urgência</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>