<!DOCTYPE html>
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Contatos Urgências</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content text-center padding>



    <!-- Botões  -->
    <ion-tabs>

        <ion-tab-bar slot="bottom">

            <!-- Botões home -->
            <ion-tab-button (click)="proximo('home')">
                <ion-icon name="ios-home" color="primary"></ion-icon>
                <ion-label color="primary">Home</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="proximo('cadastro-urgencia')">
                <ion-icon name="ios-add-circle" color="primary"></ion-icon>
                <ion-label color="primary">Add Urgência</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>